{
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "tabWidth": 2,
  "endOfLine": "auto",
  "trailingComma": "es5"
}
