$body-font-family: 'Archivo Narrow';
$heading-font-family: 'Archivo Black';

$main-orange: '#FFC44A';

// SHOP
$shopGrayFont: #808080;
$darkGrayFont:  #333333;
$lightGray: #f4f4f4;
// 
$headings: (
  'h1': (
    'size': 46px,
    'line-height': 150%
  ),
  'h2': (
    'size': 32px,
    'line-height': 150%
  ),
  'h3': (
    'size': 28px,
    'line-height': 150%
  ),
  'h4': (
    'size': 24px,
    'line-height': 100%
  ),
  'h5': (
    'size': 18px,
    'line-height': 100%
  )
);
